@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Mali:wght@200;300;400;500;600;700&display=swap');

/* Media Queries */
@media screen and (min-width: 300px) {
    .navbar-toggler {
        border: none;
        outline: none;
        margin: 30px 50px 10px 10px;
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='currentColor' class='bi bi-list-ul' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2'/%3E%3C/svg%3E");
    }

    .order-md-1 { order: 2; }
    .order-md-2 { order: 1; }

    .text-center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .nav-link.title {
        background-color: #7EC7EB;
    }    
    .nav-link.title:hover {
        background-color: #5BAFD4;
        color: black;
        text-decoration: none;
    }
    
    .text-md-start { text-align: left; }

    .photo { width: 50vw; }
    .text-description { width: 40vw; }
}


/* General Styles */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #ffffff;
    border-bottom: 180px;
}

h3 {
    margin: 20px;
    font-family: 'Klee One', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
}
h2{
    color: #5BAFD4;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

/* Logo Container */
.logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.logo-container.center { justify-content: center; }
.logo-container.left { justify-content: flex-start; }

.logo {
    width: 60%;
    max-width: 1000px;
    height: auto;
}
.logo.center { width: 100%; }

/* Footer */
footer {
    background-color: #f6e0e0;
    color: #5BAFD4;
    text-align: center;
    padding: 2em 1vw;
}

/* Navigation Links */
.nav-link {
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    width: 17vw;
    padding: 20px 10px;
    margin: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    border-radius: 70px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    text-decoration: underline;
    color: #e17777;
}

/* Contact & About Me */
.photo {
    margin-top: 10px;
    width: 80vw;
    height: 100%;
    max-height: 700px;
    padding: 20px;
    object-fit: cover;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-description {
    padding: 0 5vw;
    width: 80vw;
    margin: 10px;
    text-align: center;
}

.contact-link{
    text-decoration: none;
    color: #9a4040;
}
.contact-link:hover{
    text-decoration: underline;
    color: #e17777;
}

/* Blog & Portfolio */
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 60px;
    justify-content: center;
    padding: 20px;
}

.card-content {
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content h4 {
    font-family: 'Mali', Courier, sans-serif;
    font-weight: 500;
    font-size: x-large;
    padding: 15px 20px 5px;
    margin: 0;
}

.card-content p {
    padding: 0 20px 15px;
    margin: 0;
    font-size: 14px;
    color: #333;
}

a.cardLink {
    color: #E17776;
    text-decoration: none;
    margin-top: auto;
    padding: 10px 20px;
    align-self: flex-end;
}

a.cardLink:hover {
    color: #5BAFD4;
    font-style: italic;
    text-decoration: underline;
}

/*Game*/
.game {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px 10px 70px 10px;
}

.gameDisplay {
    width: 75%;
    height: 80vw;
    max-height: 600px;
    background-color: hsla(200, 73%, 71%, 0.3);
    position: relative;
    overflow: hidden; 
}
.score{
    color: #e17777;
}
#score-value{
    margin: 0px 10px;
}

.cell {
    position: absolute;
    background-color: #fb6161;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 182, 193, 0.3) 0%, rgba(255, 121, 148, 0.7) 70%, rgb(250, 169, 185) 100%);
}
.cell-clicked {
    background-color: #2cbcec
}